<?xml version="1.0"?>
<robot name="robot_setup" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find sayens)/urdf/materials.xacro"/>



    <!-- Kinova Jaco 7DoF Robotic Arm -->
    <xacro:include filename="$(find kinova_description)/urdf/j2n7s300_standalone.xacro"/>

    <link name="robot_root"/>

    <joint name="robot_base_joint" type="fixed">
        <parent link="world"/>
        <child link="robot_root"/>
        <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </joint>

    <!-- Allied Vision Manta G504 Camera -->
    <link name="camera">
        <visual>
            <geometry>
                <mesh filename="file:///home/aminedhemaied/catkin_ws/src/sayens/meshes/Manta_TypeB_C-Mount.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file:///home/aminedhemaied/catkin_ws/src/sayens/meshes/Manta_TypeB_C-Mount.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0.05"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>

    <joint name="fixed_camera" type="fixed">
        <parent link="rod"/>
        <child link="camera"/>
        <origin xyz="0.0 0.05 0.17" rpy="0 0 0"/>
    </joint>


    <link name="rod2">
        <visual>
            <geometry>
                <box size="0.05 0.05 0.3"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.05 0.3"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <origin xyz="0 0 0.15"/>
            <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005"/>
        </inertial>
    </link>

    <joint name="rod_xy" type="fixed">
        <parent link="world"/>
        <child link="rod2"/>
        <origin xyz="0.0 1 0.16" rpy="0 0 0"/>
    </joint>

    <!-- XY Platform -->
    <link name="xy_platform">
        <visual>
            <geometry>
                <box size="0.5 0.5 0.05"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.5 0.5 0.05"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="5.0"/>
            <origin xyz="0 0 0.025"/>
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
        </inertial>
    </link>

    <joint name="fixed_xy_platform" type="fixed">
        <parent link="rod2"/>
        <child link="xy_platform"/>
        <origin xyz="0 0 0.4" rpy="0 1.57 1.57"/>
    </joint>

    <link name="rod">
        <visual>
            <geometry>
                <box size="0.05 0.05 0.3"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.05 0.3"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <origin xyz="0 0 0.15"/>
            <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005"/>
        </inertial>
    </link>

    <joint name="rod_camera" type="fixed">
        <parent link="world"/>
        <child link="rod"/>
        <origin xyz="0.0 0.2 0.16" rpy="0 0 0"/>
    </joint>

    <!-- Add damping to the joints to reduce vibrations -->
    <gazebo>
        <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so"/>
        <plugin name="robot_state_publisher" filename="libgazebo_ros_robot_state_publisher.so"/>
        <plugin name="ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>

</robot>
