<?xml version="1.0"?>
<robot name="robot_setup" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Define the arguments with defaults -->
    <xacro:arg name="robot_to_table_x" default="0"/>
    <xacro:arg name="robot_to_table_y" default="0"/>
    <xacro:arg name="robot_to_table_z" default="0.41"/>
    <xacro:arg name="robot_to_table_roll" default="0"/>
    <xacro:arg name="robot_to_table_pitch" default="0"/>
    <xacro:arg name="robot_to_table_yaw" default="0"/>
    
    <xacro:arg name="camera_to_table_x" default="-0.6"/>
    <xacro:arg name="camera_to_table_y" default="-0.6"/>
    <xacro:arg name="camera_to_table_z" default="0.375"/>
    <xacro:arg name="camera_to_table_roll" default="0"/>
    <xacro:arg name="camera_to_table_pitch" default="0"/>
    <xacro:arg name="camera_to_table_yaw" default="0"/>

    <xacro:arg name="target_to_camera_x" default="0.0"/>
    <xacro:arg name="target_to_camera_y" default="0.4"/>
    <xacro:arg name="target_to_camera_z" default="0.55"/>
    <xacro:arg name="target_to_camera_roll" default="0"/>
    <xacro:arg name="target_to_camera_pitch" default="0"/>
    <xacro:arg name="target_to_camera_yaw" default="0"/>

    <xacro:property name="robot_x" value="$(arg robot_to_table_x)"/>
    <xacro:property name="robot_y" value="$(arg robot_to_table_y)"/>
    <xacro:property name="robot_z" value="$(arg robot_to_table_z)"/>
    <xacro:property name="robot_roll" value="$(arg robot_to_table_roll)"/>
    <xacro:property name="robot_pitch" value="$(arg robot_to_table_pitch)"/>
    <xacro:property name="robot_yaw" value="$(arg robot_to_table_yaw)"/>
    
    <xacro:property name="camera_x" value="$(arg camera_to_table_x)"/>
    <xacro:property name="camera_y" value="$(arg camera_to_table_y)"/>
    <xacro:property name="camera_z" value="$(arg camera_to_table_z)"/>
    <xacro:property name="camera_roll" value="$(arg camera_to_table_roll)"/>
    <xacro:property name="camera_pitch" value="$(arg camera_to_table_pitch)"/>
    <xacro:property name="camera_yaw" value="$(arg camera_to_table_yaw)"/>

    <xacro:property name="target_x" value="$(arg target_to_camera_x)"/>
    <xacro:property name="target_y" value="$(arg target_to_camera_y)"/>
    <xacro:property name="target_z" value="$(arg target_to_camera_z)"/>
    <xacro:property name="target_roll" value="$(arg target_to_camera_roll)"/>
    <xacro:property name="target_pitch" value="$(arg target_to_camera_pitch)"/>
    <xacro:property name="target_yaw" value="$(arg target_to_camera_yaw)"/>

    <!-- Include the xacro files and pass the arguments -->
    <xacro:include filename="$(find sayens)/urdf/j2s7s300_standalone.xacro"/>
    <xacro:include filename="$(find sayens)/urdf/environment.xacro"/>


</robot>
